<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="content" style="background-image:url(/static/image/bg.jpg)">
        <div class="login-content">
            <a href="" class="banner-box" style="background-image:url(/static/image/bg.jpg)"></a>
            <div class="login-box">
                <h1>账号登录</h1>
                <form action="/users/conlogin" method="post">
                    <input type="text" name="username" placeholder="账号" style="font-size: medium; border-radius: 15px; height: 35px; width: 250px; margin-bottom: 10px;">
                    <p style="color:red">{{data4}}</p>
                    <input type="password" name="password" placeholder="密码" style="font-size: medium; border-radius: 15px; height: 35px; width: 250px; margin-bottom: 10px;">
                    <p style="color:red">{{data5}}</p>
                    <input type="checkbox" name="remember" />记住用户名
                    <div class="login-box-1">
                        <button class="login-btn">登录</button>
                        
                    </div>
                </form>
                <form action="/users/sign">
                    <button style="width: 100px; height: 40px; background-color: rgb(122,0,233); border: none; border-radius: 40px; color: #fff; font-size: 18px;position:relative; top:-40px;left:50px;">注册</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
