{% extends 'base.html' %}

{% block shopname %}
<title>添加购物车</title>
{% endblock %}

{% block main %}
<main>
    <form action="/shoppingcart/add" method="post" >
        <p>请选择物品名称</p>
        <select name="shopname">
        
            <option value="树池路沿石">树池路沿石</option>
       
    </select>
        <!--<input type="text" name="shopname" placeholder="请填写物品" />
        <input type="text" name="shopsize" placeholder="请填写大小" />
        <input type="text" name="num" placeholder="请填写数量">-->
        <p>请选择每片单价</p>
        <select name="unitprice">
            <option value="3.50">一片3.50元</option>
            
        </select>
        <p>请选择物品尺寸</p>
        <select name="shopsize">
        
            <option value="尺寸为1000*400*200">尺寸为1000*400*200</option>

       
    </select>
        <p>请选择物品余量</p>
        <select name="quantity">
   
            <option value="2000">2000</option>
        </select>
        <br />
        <button type="submit">添加</button>
    </form>
</main>
{% endblock %}